[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/emacs-rails-reloaded"]
	path = vendor/emacs-rails-reloaded
	url = git://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/gitsum"]
	path = vendor/gitsum
	url = http://github.com/chneukirchen/gitsum.git
[submodule "mo-git-blame"]
	path = mo-git-blame
	url = git://git.bunkus.org/mo-git-blame.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
